/* PrismJS 1.13.0
http://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+docker+gherkin+java+makefile+markdown+python */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

html code[class*="language-"],
html pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

html pre[class*="language-"]::-moz-selection, html pre[class*="language-"] ::-moz-selection,
html code[class*="language-"]::-moz-selection, html code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

html pre[class*="language-"]::selection, html pre[class*="language-"] ::selection,
html code[class*="language-"]::selection, html code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

html :not(pre) > code[class*="language-"],
html pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

html .token.comment,
html .token.prolog,
html .token.doctype,
html .token.cdata {
	color: slategray;
}

html .token.punctuation {
	color: #999;
}

html .namespace {
	opacity: .7;
}

html .token.property,
html .token.tag,
html .token.boolean,
html .token.number,
html .token.constant,
html .token.symbol,
html .token.deleted {
	color: #905;
}

html .token.selector,
html .token.attr-name,
html .token.string,
html .token.char,
html .token.builtin,
html .token.inserted {
	color: #690;
}

html .token.operator,
html .token.entity,
html .token.url,
html .language-css .token.string,
html .style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

html .token.atrule,
html .token.attr-value,
html .token.keyword {
	color: #07a;
}

html .token.function,
html .token.class-name {
	color: #DD4A68;
}

html .token.regex,
html .token.important,
html .token.variable {
	color: #e90;
}

html .token.important,
html .token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

